:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:has(.green-theme) {
  background-color: #052029;
}

body:has(.red-theme) {
  background-color: #191521;
}

a {
  font-weight: 500;
  color: var(--text-muted);
  text-decoration: inherit;
}

a:hover {
  color: #fff;
}

input {
  padding: 8px;
  border: none;
  border-radius: 6px;
  width: 240px;

  &:focus-visible {
    outline: 2px solid white;
    outline-offset: 2px;
  }
}

select {
  &:focus-visible {
    outline: 2px solid white;
    outline-offset: 2px;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-base);
}

h1,
h2,
h3,
h4 {
  line-height: normal;
  font-style: normal;
}

h1 {
  font-size: 3.2em;
  font-weight: 900;
  font-family: "Futura", sans-serif;
}

h2 {
  font-size: 1.6em;
  font-weight: 600;
  font-family: "Space Mono", sans-serif;
}

h3 {
  font-size: 1.3em;
  font-weight: 600;
  font-family: "Space Mono", sans-serif;
}

h4 {
  font-size: 1.1em;
  font-weight: 600;
  font-family: "Space Mono", sans-serif;
}

.green-theme {
  --text-base: #ffffff;
  --text-muted: #e0e0e0;

  --neutral-icon-base: #e5e5e5;

  --neutral-surface-base: #052029;
  --neutral-surface-second: #093a48;
  --neutral-surface-third: #093a47;
  --neutral-surface-navMenu: #03181e;
  --neutral-surface-muted: #07333f;
  --neutral-surface-contrast: #072b38;

  --neutral-surface-linear-gradient-base: #054c54;
  --neutral-surface-linear-gradient-contrast: #054c5400;

  --neutral-border-base: #e0e0e0;
  --neutral-border-onBase: #06323f;
  --neutral-border-onContrast: #0e4051;

  --decorative-brand-lighter: #4eab95;
  --decorative-brand-light: #42917e;
  --decorative-brand-main: #15ba83;
  --decorative-brand-dark: #1d715d;
  --decorative-brand-darker: #0f4644;

  --disabled-surface-base: #9e9e9e;

  --disabled-text-base: #e8e8e8;
}

.red-theme {
  --text-base: #ffffff;
  --text-muted: #e0e0e0;

  --neutral-icon-base: #e5e5e5;

  --neutral-surface-base: #0d0b11;
  --neutral-surface-second: #0d0b11;
  --neutral-surface-third: #18151e;
  --neutral-surface-navMenu: #0d0b12;
  --neutral-surface-muted: #100e15;
  --neutral-surface-contrast: #100e15;

  --neutral-surface-linear-gradient-base: #5b2218;
  --neutral-surface-linear-gradient-contrast: #54130500;

  --neutral-border-base: #e0e0e0;
  --neutral-border-onBase: #222024;
  --neutral-border-onContrast: #1b1924;

  --decorative-brand-lighter: #4eab95;
  --decorative-brand-light: #aa4c4c;
  --decorative-brand-main: #ba3d3d;
  --decorative-brand-dark: #9b3434;
  --decorative-brand-darker: #872d2d;

  --disabled-surface-base: #9e9e9e;

  --disabled-text-base: #e8e8e8;
}
