:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:has(.green-theme) {
  background-color: #052029;
}

body:has(.red-theme) {
  background-color: #191521;
}

a {
  font-weight: 500;
  color: var(--text-muted);
  text-decoration: inherit;
}

a:hover {
  color: #fff;
}

input {
  padding: 8px;
  border: none;
  border-radius: 6px;
  width: 240px;

  &:focus-visible {
    outline: 2px solid white;
    outline-offset: 2px;
  }
}

select {
  &:focus-visible {
    outline: 2px solid white;
    outline-offset: 2px;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-base);
}

h1,
h2,
h3,
h4 {
  line-height: normal;
  font-style: normal;
}

h1 {
  font-size: 3.2em;
  font-weight: 900;
  font-family: 'Futura', sans-serif;
}

h2 {
  font-size: 1.6em;
  font-weight: 600;
  font-family: 'Space Mono', sans-serif;
}

h3 {
  font-size: 1.3em;
  font-weight: 600;
  font-family: 'Space Mono', sans-serif;
}

h4 {
  font-size: 1.1em;
  font-weight: 600;
  font-family: 'Space Mono', sans-serif;
}

.green-theme {
  --text-base: #ffffff;
  --text-muted: #E0E0E0;

  --neutral-icon-base: #e5e5e5;

  --neutral-surface-base: #052029;
  --neutral-surface-second: #093A48;
  --neutral-surface-third: #093A47;
  --neutral-surface-navMenu: #03181E;
  --neutral-surface-muted: #07333F;
  --neutral-surface-contrast: #072B38;

  --neutral-surface-linear-gradient-base: #054c54;
  --neutral-surface-linear-gradient-contrast: #054c5400;

  --neutral-border-base: #e0e0e0;
  --neutral-border-onBase: #06323F;
  --neutral-border-onContrast: #0E4051;

  --decorative-brand-lighter: #4EAB95;
  --decorative-brand-light: #42917E;
  --decorative-brand-main: #15BA83;
  --decorative-brand-dark: #1d715d;
  --decorative-brand-darker: #0f4644;

  --disabled-surface-base: #9E9E9E;

  --disabled-text-base: #E8E8E8;

}

.red-theme {
  --text-base: #ffffff;
  --text-muted: #E0E0E0;

  --neutral-icon-base: #e5e5e5;

  --neutral-surface-base: #0D0B11;
  --neutral-surface-second: #0D0B11;
  --neutral-surface-third: #18151E;
  --neutral-surface-navMenu: #0D0B12;
  --neutral-surface-muted: #100E15;
  --neutral-surface-contrast: #100E15;

  --neutral-surface-linear-gradient-base: #5b2218;
  --neutral-surface-linear-gradient-contrast: #54130500;

  --neutral-border-base: #e0e0e0;
  --neutral-border-onBase: #222024;
  --neutral-border-onContrast: #1B1924;

  --decorative-brand-lighter: #4EAB95;
  --decorative-brand-light: #AA4C4C;
  --decorative-brand-main: #BA3D3D;
  --decorative-brand-dark: #9B3434;
  --decorative-brand-darker: #872D2D;

  --disabled-surface-base: #9E9E9E;

  --disabled-text-base: #E8E8E8;
}